<input!DOCTYPT>
	<html>

	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../static/web.css">
		<h1 align="center">Blog Editor</h1>
		<style>
			div {
				position: absolute;
				top: 10%;
				left: 20%;
				margin-left: 0px;
				margin-top: 0px;
			}
		</style>
	</head>

	<body>
		<div>
			<form>
				<label for="title" style=" font-family:'仿宋';font-size:26px;"align="left">&ensp;&ensp;&ensp;标题</label>
				<input type="text" class="editor" name="title" placeholder="Enter Title"><br>
				<label for="describe" style=" font-family:'仿宋';font-size:15px;"align="left">&ensp;&ensp;&ensp;&ensp;内容简介</label>
				<input type="text" class="editor" name="describee" placeholder="Enter Describe"><br>
				<label for="describe" style=" font-family:'仿宋';font-size:22px;"align="left">编辑内容</label>
				<input type="text" class="editor" name="describee" placeholder="Enter Describe">
			</form>
		</div>
	</body>

	</html>