<input!DOCTYPT>
	<html>

	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="web.css">
		<h1 align="center">Blog Editor</h1>
		<style>
			div {
				position: absolute;
				top: 10%;
				left: 20%;
				margin-left: 0px;
				margin-top: 0px;
			}

			input.describe {
				width: 800px;
				height: auto;
			}

			textarea.editor {
				width: 800px;
				height: 200px;
				vertical-align: top;
				border:none;
				background-color: rgb(192, 192, 192, 0.5);
			}
			
		#push {
			width:60%;
			margin-top:20px;
			margin-left:20%;
		}
			
		</style>
	</head>

	<body>
		<div>		
			<form action="/edit" method="POST">		
				<input type="hidden" name="username" th:value="${username}">		
				<label for="title" style=" font-family:'仿宋';font-size:26px;" align="left">Title:</label>
				<input type="text" class="describe" name="title" placeholder="add a title..."></input><br>
				<label for="description" style=" font-family:'仿宋';font-size:15px;"
				align="left">&ensp;describe:</label>
				<input type="text" class="describe" name="description" placeholder="add some describption..."></input><br>
				<label for="article" style=" font-family:'仿宋';font-size:22px;" align="left">&ensp;&ensp;Edit:</label>
				<textarea name="article" class="editor" placeholder="add something..."></textarea><br>
			 	<input type="submit" id="push" name="push" placeholder="Push"></input>						
			</form>
			
		</div>
	</body>

	</html>