<input!DOCTYPT>
	<html>

	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="web.css">
	</head>

	<body>
		<div id="all" style= 'background:url("background2.jpeg")'>
			<h2>Login</h2>
			<hr>
			<form action="blog.html" method="POST">
				<label for="username">User Name</label><br>
				<input type="text" class="account" name="username" placeholder="Enter User name">
				</input><br>
				<label for="password">Password</label><br>
				<input type="password" class="account" name="password" placeholder="Enter Password">
				</input><br><hr>				
				<input type="submit" id="submit" value="Sign in"></input><br>
			</form>
			<footer>
				<p>Have no account yet?
					<a href="setUp" target="_blank"> Register</a>.
					<!-- 连接后端时，超链接herf需改为"/setUp"-->
				</p>
			</footer>
		</div>
	</body>

	</html>