<input!DOCTYPT>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet"  href="F:/spring tool/congwei_web/congweiWeb/src/main/resources/static/web.css">
</head>
<body>
	<div id="all">
		<h2>Register</h2>
		<p>Please fill in this form to create an account</p><hr>
		<form>
			<label for ="username">User Name</lable><br>
			<input type="text" class="account" name="username" placeholder="Enter User name" >
			</input><br>
			<label for ="pw">Password</lable><br>
			<input type="password" class="account" name="pw" placeholder="Enter Password" >
			</input><br>	
			<label for ="rpw">Repeat Password</lable><br>
			<input type="password" class="account" name="rpw" placeholder="Repeat Password" >
			</input><br><hr>	
			<input type="submit" id="submit" value="Register" ></input><br>       
		</form>
		<footer>
		<p>Already have an account?
			<a href="login.html" target="_blank">Sign in</a>.
		</p>
		</footer>
	</div>
</body>
</html>